.container {
    background-color: rgb(233, 229, 229);
    margin-left: 5%;
    display: grid;
    width: 90%;
    grid-template-areas: "header header header"
        "main main main"
        "main main main"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    gap: 2em;
}

.header {
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
}

.main {
    background-color: antiquewhite;
    grid-area: main;
    font-size: larger;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "p p aside"
        "maingrid maingrid aside"
        "maingrid maingrid aside";
    gap: 2em;
}

.aside {
    padding-left: 35%;
    background-color: rgb(62, 185, 113);
    font-size: larger;
    font-weight: bold;
    grid-area: aside;
}

.p {
    text-align: center;
    grid-area: p;
}

.maingrid {
    grid-area: maingrid;
    width: 80%;
    height: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "add add"
        "large large";
    gap: 1em;
    margin-top: 25%;
    margin-left: 10%;
}

.add {
    background-color: orange;
    padding-left: 45%;
}

.large {
    grid-area: large;
}

.footer {
    grid-area: footer;
    margin-bottom: 2%;
}

.gridbasement {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

.basement {
    margin-left: 10%;
    font-size: larger;
    background-color: white;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}